.box{
    width: 50px;
    height: 50px;
    background-color: aqua;
}

#slide{
    padding: 5px;
  text-align: center;
  background-color: #fbd2d7;
  border: solid 1px #000000;
}

#panel {
  padding: 5px;
  text-align: center;
  background-color: #fbd2d7;
  border: solid 1px #000000;
}

#panel {
  padding: 50px;
  display: none;
}
